// 站点主色
// tips: 要达到整站主题修改效果, 请确保[$--color-primary]站点主色与[/src/element-ui-theme/index.js]文件中[import './element-[#17B3A3]/index.css']当前主题色一致
$--color-primary: #17B3A3;

// Navbar
$navbar--background-color: $--color-primary;

// Sidebar
//$sidebar--background-color-dark: #263238;
//左侧菜单栏整体背景颜色
$sidebar--background-color-dark: #FCF8F7;
$sidebar--color-text-dark: #8a979e;

// Content
$content--background-color: #f1f4f5;

//theme主题颜色
$--theme-red:#004EA0;

//放大镜字体
$--magnifier-fontSize:20px;
